html,
body,
#root {
    height: 100%;
    margin: 0;
}

.flex-container {
    display: flex;
    width: 700px;
    height: 300px;
    align-items: center;
    justify-content: space-between;
}

div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #daa520;
    display: inline-block;
}

div:nth-child(odd) {
    align-self: flex-start;
}

div:nth-child(3) {
    align-self: flex-end;
}
